.header{
    height:55px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;

    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: white;

    border-bottom-width:0.5px;
    border-bottom-style:solid;
    border-bottom-color:rgb(205, 204, 204);

    z-index:100;
}

.hamburger-icon{
    height:25px;
    margin-right:20px;
    margin-left:20px;
    cursor:pointer;
}

.youtube-logo{
    height:22px;
    cursor:pointer;
}

.left-section{
    display:flex;
    align-items:center;
}

.search-class{
    height:25px;
    width:40px;
}

.search-button{
    border-color:rgb(179, 173, 173);
    border-width:1px;
    border-style:solid;
    background-color:rgb(247, 247, 247);
    height:39px;
    width:64px;
    border-radius:2px;
    margin-left: -1px;
    margin-right:10px;
    cursor:pointer;
}

.search-box{
    height:35px;
    flex:1;
    border-width:1px;
    border-style:solid;
    border-color:rgb(179, 173, 173);
    border-radius:2px;
    box-shadow:inset 1px 2px 5px rgba(0,0,0,0.05);
    width:0;
}

.search-box::placeholder{
    font-family:Roboto , Aerial;
    font-size:17px;
    padding-left:9px;
}

.voice-search{
    height:25px;
    width:40px;
}

.voice-icon{
    height:40px;
    width:40px;
    background-color:rgb(247, 247, 247);
    border-radius:30px;
    border-style:solid;
    border:none;
    cursor:pointer;
}

.middle-section{
    flex: 1;
    margin-left:70px;
    margin-right:30px;
    max-width:700px;
    display:flex;
    align-items:center;
}

.upload-icon{
     height:27px;
     margin-left:14px;
     cursor:pointer;
}

.youtube-app{
    height:26px;
    margin-right:14px;
    cursor:pointer;
}

.notification-icon{
    height:29px;
   margin-left:-15px;
    cursor:pointer;
}

.channel-name{
    height:35px;
    border-radius:20px;
    cursor:pointer;
}

.right-section{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:300px;
    margin-right:20px;
    flex-shrink:0;
}

.search-button .tooltip , 
.voice-icon .tooltip , 
.upload-class .tooltip,
.youtube-container .tooltip,
.notification-container .tooltip{
    position:absolute;
    background-color:rgb(113, 113, 113);
    color:white;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:8px;
    padding-right:8px;
    font-family:Robodo , Arial;
    font-size:13px;
    border-radius:2px;
    bottom:-50px;
    opacity:0;
    font-weight:500;
    pointer-events:none;
    white-space:nowrap;
}

.search-button:hover .tooltip ,
.voice-icon:hover .tooltip,
.upload-class:hover .tooltip,
.youtube-container:hover .tooltip,
.notification-container:hover .tooltip{
    opacity:1;
}

.search-button , .voice-icon ,.upload-class
,.youtube-container ,.notification-container{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}