.sidebar{
    position:fixed;
    left:0;
    bottom:0;
    top: 56px;
    background-color:white;
    width:72px;
    z-index:200px;
    padding-top:5px;
}

.sidebar-link{
   height:80px;
   display:flex;
   justify-content:center;
   align-content:center;
   flex-direction:column;
   cursor:pointer;
}


.sidebar-link:hover{
    background-color:rgb(177, 177, 177);
}

.sidebar-link img{
    height:24px;
    margin-bottom:4px;
}

.sidebar-link div{
    font-family:Roboto , Arial;
    font-size:10px;
    justify-content: center;
    align-items:center;
    display:flex;
}