
.video-grid{
 display:grid;
 grid-template-columns:1fr 1fr 1fr;
 column-gap:15px;
}

@media (max-width:750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width :751px) and (max-width:750px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


.thumbnails{
 width:100%;
}

.video-title{
   margin-top:0;
   font-weight:500;
   margin-bottom:10px;
   font-size:14px;
   line-height:20px;
}


.video-info-grid{
    display:grid;
    grid-template-columns: 50px 1fr;
}

.channel-picture{
    width:45px;
    border-radius:30px;

}
.thumbnail-row{
    margin-bottom:10px;
    position:relative;
}
.video-author{
    font-size:12px;
    color:rgb(96,96,96);
    margin-bottom:4px;
    margin-top:0;
}

.video-stats{
    font-size:12px;
    color:rgb(96,96,96);
    margin-top:0;
}

.video-timer{
    background-color:black;
    color:white;
    position:absolute;
    right:5px;
    bottom:8px;
    font-family:Roboto , Arial;
    font-size:12px;
    font-weight:700;
    padding-left:5px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:5px;
    border-radius:2px;
}